# Archivos de Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Entornos virtuales
venv/
.venv/
.venv_linux/
env/

# Archivos de PyInstaller
build/
dist/
*.spec

# Archivos de datos de la aplicación
config_path.json
data.json
*.bak
*.tmp

# Cache de pytest
.pytest_cache/

# Archivos de IDE
.vscode/
.idea/